*.gem
*.iml
*.pyc
*.sc
.bundle/
.classpath_nb
.DS_Store
.idea/
.sbt_completion_cache
.sbtserver
.yardoc
BUILD/
doc/
dump.rdb
Gemfile.lock
lib_managed/
logs/
project/.sbtserver
project/.sbtserver.lock
project/boot/
project/plugins/project
project/sbt-ui.sbt
results
RPMS/
SOURCES/
spec/
SPECS/
src_managed/
SRPMS/
target/
test-output/
tmp/
vendor/
worksheets/
